{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'js/jquery/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<script src="{% static 'js/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/jquery/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>

{% block content %}

<div class="container text-center">
  {% if 'edit' in request.path %}
    <h3>Edit match:</h3>
  {% endif %}
  {% if 'new' in request.path %}
    <h3>Create new match:</h3>
  {% endif %}

  <br>

  {% csrf_token %}
  {% crispy form form.helper %}

  <div id="bin"></div>
  <div class="container text-center">
    <div class="col-sm-5">
      <div id="includedPlayerList" class="list-group">
        {% for player in included_players %}
          <div id="included-player" class="list-group-item list-group-item-success">
            <span class="fa fa-soccer-ball-o" aria-hidden="true"></span>
            <div class="{{ player.id }}">{{ player.firstname }} {{ player.lastname }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-sm-5">
      <div id="excludedPlayerList" class="list-group">
        {% for player in excluded_players %}
          <div id="excluded-player" class="list-group-item list-group-item-danger">
            <span class="fa fa-soccer-ball-o" aria-hidden="true"></span>
            <div class="{{ player.id }}">{{ player.firstname }} {{ player.lastname }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>

<script type="application/javascript">

  // Player list with handle
  Sortable.create(includedPlayerList, {
    group: {name: "players", pull: true, put: true},
    handle: '.fa-soccer-ball-o',
    animation: 150,
    onSort: function() {
      $('#includedPlayerList').trigger('contentchanged');
    }
  });

  // Player list with handle
  Sortable.create(excludedPlayerList, {
    group: {name: "players", pull: true, put: true},
    handle: '.fa-soccer-ball-o',
    animation: 150,
    onSort: function() {
      $('#includedPlayerList').trigger('contentchanged');
    }
  });

</script>

<script>
  // JQuery datepicker
  $(function () {
      $('#id_date').datepicker({ dateFormat: 'yy-mm-dd' });
  });

  // JQuery to act upon changes to included players lists
  $('#includedPlayerList').bind('contentchanged', function() {
    // Set all included player elements to green.
    $('#includedPlayerList').find('.list-group-item').each(function(){
      $(this).removeClass().addClass('list-group-item list-group-item-success');
    })
    // Get the 11th element as we want to detatch it and move it to the other list
    $eleventh = $( "#includedPlayerList div:nth-child(11)" ).detach();
      $('#excludedPlayerList').prepend($eleventh);
    // Set all excluded player elements to red.
    $('#excludedPlayerList').find('.list-group-item').each(function(){
      $(this).removeClass().addClass('list-group-item list-group-item-danger');
    })

    $includedPlayersIds = $("#included-player").prop("classList");
  });

  // Get all the ids of the players on the included list and send them
  // in an AJAX POST in order to create the relevant Appearances.
  $('.form-horizontal').on('submit', function(event){

    var playerIds = [];

    $(".list-group-item-success").find('div').each(function(){
    	var id = $(this).attr('class');
    	playerIds.push(parseInt(id));
    })

    var numberOfPlayers = playerIds.length;
    if (numberOfPlayers < 10)
    {
    	var r = confirm("You have only specified " + numberOfPlayers +
    			  " included players. Are you sure you want to confirm?");
    	if (r == true) {

  	  } else {
        event.preventDefault();
  	    return;
  	  }
    }

    var url = window.location.href;
    var matchId = url.split("/")[4]

    $.ajax({
    	method : "POST",
    	url : "{% url 'submit_appearances' %}",
    	data: {'matchId': matchId,
      'playerIds': playerIds},
    	dataType : "json"
  	})
  	.done(function(msg) {
  	  alert ("Data Saved: " + msg);
  	});

  });

  // Allows us to pass csrf token in Ajax requests:
  // https://realpython.com/blog/python/django-and-ajax-form-submissions/
  $(function() {

    // This function gets cookie with a given name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    /*
    The functions below will create a header with csrftoken
    */

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

});
</script>

{% endblock %}
