{% extends 'base.html' %}

{% block content %}

    <div class="container text-center">
      <h3>The Players:</h3>
      <br>
      <div class="row">
        {% for player in players %}
        <div class="col-sm-3">
          <img src="{{ player.image }}" class="image" style="width:50%">
        </img>
          <br>
          <p class="text-center">
            <strong>{{ player.firstname }} {{player.lastname}}</strong>
          </p>
        </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}
