{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'js/jquery/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<script src="{% static 'js/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/jquery/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>

{% block content %}

<div class="container text-center">
  {% if 'edit' in request.path %}
    <h3>Edit match:</h3>
  {% endif %}
  {% if 'new' in request.path %}
    <h3>Create new match:</h3>
  {% endif %}

  <br>

  {% csrf_token %}
  {% crispy form form.helper %}

  <div id="bin"></div>
  <div class="container text-center">
    <div class="col-sm-5">
      <div id="includedPlayerList" class="list-group">
        {% for player in top_ten_players %}
          <div id="included-player" class="list-group-item list-group-item-success">
            <span class="fa fa-soccer-ball-o" aria-hidden="true"></span>
            {{ player.firstname }} {{ player.lastname }}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-sm-5">
      <div id="excludedPlayerList" class="list-group">
        {% for player in remaining_players %}
          <div id="excluded-player" class="list-group-item list-group-item-danger">
            <span class="fa fa-soccer-ball-o" aria-hidden="true"></span>
            {{ player.firstname }} {{ player.lastname }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>

<script type="application/javascript">

  // Player list with handle
  Sortable.create(includedPlayerList, {
    group: {name: "players", pull: true, put: true},
    handle: '.fa-soccer-ball-o',
    animation: 150,
    onSort: function() {
      $('#includedPlayerList').trigger('contentchanged');
    }
  });

  // Player list with handle
  Sortable.create(excludedPlayerList, {
    group: {name: "players", pull: true, put: true},
    handle: '.fa-soccer-ball-o',
    animation: 150,
    onSort: function() {
      $('#includedPlayerList').trigger('contentchanged');
    }
  });

</script>

<script>
  // JQuery datepicker
  $(function () {
      $('#id_date').datepicker({ dateFormat: 'yy-mm-dd' });
  });

  // JQuery to act upon changes to included players lists
$('#includedPlayerList').bind('contentchanged', function() {
  // Set all included player elements to green.
  $('#includedPlayerList').find('div').each(function(){
    $(this).removeClass().addClass('list-group-item list-group-item-success');
  })
  // Get the 11th element as we want to remove it
  $eleventh = $( "#includedPlayerList div:nth-child(11)" ).detach();
    $('#excludedPlayerList').prepend($eleventh);
  // Set all excluded player elements to red.
  $('#excludedPlayerList').find('div').each(function(){
    $(this).removeClass().addClass('list-group-item list-group-item-danger');
  })
});
</script>

{% endblock %}
