{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
  <div class="col-sm-3">
    <div id="playerList" class="list-group">
      {% for player in players %}
        <div class="list-group-item">
          <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
          {{ player.firstname }} {{ player.lastname }}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="col-sm-3">
    <div id="playerList2" class="list-group">
      {% for player in players %}
        <div class="list-group-item">
          <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
          {{ player.firstname }} {{ player.lastname }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script type="application/javascript">

  // List with handle
  Sortable.create(playerList2, {
    group: {name: "players", pull: true, put: true},
    handle: '.glyphicon-move',
    animation: 150
  });

  // Player list with handle
  Sortable.create(playerList, {
    group: {name: "players", pull: true, put: true},
    handle: '.glyphicon-move',
    animation: 150
  });

</script>

{% endblock %}
